@import "../../../../../colors";
@import "../../../../../sizes";
@import "../../../../../other";

.properties-text-filed {
  background-color: $back-deep-dark;
  color: $text-contrast;
  font-size: $font-size_medium;
  font-family: $font-family;
  flex: 1;
  outline: none;
  box-sizing: border-box;
  border: $border-main;
  height: $item-size_big;
  padding: $indent_m;
  resize: none;
  overflow: auto hidden;
}
