@import "../../colors";
@import "../../sizes";
@import "../../other";

.working-area-root {
    height: $full-size;
    width: $full-size;
    display: flex;
    flex-direction: column;
    background-color: $back-deep-dark;
}

.working-area-header {
    width: $full-size;
    background-color: $back-dark;
}

.working-area-body {
    position: relative;
    width: $full-size;
    flex: 1;
}

.working-area-empty-container {
    @extend %flex-row;
    position: absolute;
    justify-content: center;
    left: $indent_none;
    right: $indent_none;
    top: $indent_none;
    bottom: $indent_none;
}

.working-area-control-panel {
    @extend %flex-row;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    user-select: none;
    padding: $indent_none $indent_l;
    width: $item-size_giant;
    height: $item-size_medium;
    bottom: $indent_none;
    right: $indent_none;
    color: $text-contrast;
    background-color: $back-dark;
}

.working-area-control-panel-mode {
    @extend %flex-row;
    cursor: pointer;
    justify-content: center;
    width: $item-size_large;
    height: $item-size_small;
    margin-left: $indent_l;
    background-color: $back-main;
    font-size: $font-size_small;
}

.working-area-interactions {
    position: absolute;
    left: $indent_none;
    right: $indent_none;
    top: $indent_none;
    bottom: $indent_none;
}

.working-area-empty-message {
    width: $item-size_mega;
    color: $text-contrast;
    user-select: none;
}
