@import "../../colors";
@import "../../sizes";

.working-area-root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $back-deep-dark;
}

.working-area-header {
    width: 100%;
    background-color: $back-dark;
}

.working-area-body {
    position: relative;
    width: 100%;
    flex: 1;
}

.working-area-empty-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.working-area-control-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    box-sizing: border-box;
    position: absolute;
    width: 256px;
    height: 32px;
    bottom: 0;
    right: 0;
    color: $text-contrast;
    user-select: none;
    background-color: $back-dark;
}

.working-area-control-panel-mode {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: $item-size_small;
    margin-left: $indent_l;
    background-color: $back-main;
    font-size: $font-size_small;
}

.working-area-interactions {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.working-area-empty-message {
    width: $item-size_mega;
    color: $text-contrast;
    user-select: none;
}
