.drop-area-root {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    position: relative;
    box-shadow: none;
    outline: none;
}

.drop-area-overflow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.drop-area-drag {
    border: dashed #222222 2px;
    background-color: rgba(160, 160, 160, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.drop-area-drag:hover {
    opacity: 1;
    transition: opacity 2s ease-in;
}
