@import "../../sizes";
@import "../../colors";

.drop-area-root {
    width: $full-size;
    height: $full-size;
    max-height: $full-size;
    margin: 0;
    position: relative;
    box-shadow: none;
    outline: none;
    background-color: $back-dark;
}

.drop-area-overflow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden auto;
}

.drop-area-drag {
    border: dashed $back-deep-dark $indent_xs;
    box-sizing: border-box;
    background-color: rgba(160, 160, 160, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.drop-area-drag:hover {
    opacity: 1;
    transition: opacity 2s ease-in;
}
