@import "../../sizes";
@import "../../colors";

.file-tree-root {
    width: $full-size;
}

.rstcustom__rowWrapper {
    cursor: pointer;
}

.rstcustom__rowContents {
    display: flex;
    align-items: center;
    justify-content: left;
    width: $full-size;
    max-width: $full-size;
    padding: 0 10px;
    position: relative;
}

.rstcustom__row {
    height: $full-size;
    flex-grow: 1;
    min-width: 0;
}

.rstcustom__node {
    height: 20px !important;
    padding: 5px 0;
}

.rstcustom__toolbarButton {
    display: flex;
    align-items: center;
    justify-content: left;
}

.rstcustom__rowLabel {
    display: flex;
    height: $full-size;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
    padding: 0 5px;
    min-width: 0;
}

.rstcustom__rowLabel  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
}

.rstcustom__expandButton {
    transform: translate3d(-35%, -50%, 0);
}

.rstcustom__expandButton::after {
    border: solid transparent 6px;
    border-top-color: $text-contrast;
    border-left-width: 5px;
    border-right-width: 5px;

}

.rstcustom__expandButton:hover::after {
    border-top-color: $text-contrast;
}

.rstcustom__expandButton::after {
    transform: translate3d(-35%, -50%, 0) rotateZ(-90deg);
}

.rstcustom__collapseButton:hover::after {
    border-top-color: $text-contrast;
}

.rstcustom__collapseButton {
    transform: translate3d(-35%, -50%, 0);
}

.rstcustom__collapseButton::after {
    content: '';
    position: absolute;
    transform-origin: 5px 5px;
    transform: translate3d(-35%, -25%, 0);
    border: solid transparent 6px;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-color: $text-contrast;
}
