@import "../../sizes";
@import "../../colors";
@import "../../other";
@import "../../utils";

.file-tree-root {
    width: $full-size;

    :global {
        .rstcustom__ {
            &rowWrapper {
                cursor: pointer;
            }

            &rowContents {
                @extend %flex-row;
                justify-content: left;
                width: $full-size;
                max-width: $full-size;
                padding: $indent_none $indent_xl;
                position: relative;
            }

            &row {
                height: $full-size;
                flex-grow: 1;
                min-width: 0;
            }

            &node {
                height: 20px !important;
                padding: $indent_s $indent_none;
            }

            &toolbarButton {
                @extend %flex-row;
                justify-content: left;
            }

            &rowLabel {
                @extend %flex-row;
                height: $full-size;
                justify-content: left;
                flex-grow: 1;
                padding: $indent_none $indent_s;
                min-width: $indent_none;

                & > span {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    min-width: 0;
                }
            }



            &expandButton {
                $button-transform: translate3d(-10%, -50%, 0);

                outline: none;
                width: $item-size_micro;
                height: $item-size_micro;
                transform: $button-transform;

                &::after {
                    outline: none;
                    border: solid transparent $indent_m;
                    border-top-color: $text-contrast;
                    border-left-width: $indent_s;
                    border-right-width: $indent_s;

                }

                &:hover::after {
                    outline: none;
                    border-top-color: $text-contrast;
                }

                &::after {
                    outline: none;
                    transform: $button-transform rotateZ(-90deg);
                }
            }

            &collapseButton {
                $button-transform: translate3d(-10%, -35%, 0);

                outline: none;
                width: $item-size_micro;
                height: $item-size_micro;
                transform: $button-transform;

                &:hover::after {
                    outline: none;
                    border-top-color: $text-contrast;
                }

                &::after {
                    outline: none;
                    content: '';
                    position: absolute;
                    transform-origin: $indent_s $indent_s;
                    transform: $button-transform;
                    border: solid transparent $indent_m;
                    border-left-width: $indent_s;
                    border-right-width: $indent_s;
                    border-top-color: $text-contrast;
                }
            }
        }
    }
}


