@import "../../../sizes";
@import "../../../colors";

.properties-header-root {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: $indent_xs solid $back-light;
    padding-top: $indent_l;
}

.properties-header-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

.properties-header-params {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: $full-size;
    margin-bottom: $indent_s;
}

.properties-header-icon-title {
    text-align: center;
    font-size: $font-size_small;
}

.properties-header-description {
    width: calc(#{$full-size} - #{$item-size_big});
    margin-left: $indent_s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties-header-name-field {
    width: $full-size;
    margin-bottom: $indent_s;
    font-size: $font-size_big;
}

.properties-header-field {
    font-size: $font-size_small;
    width: $item-size_big;
}

.properties-header-name {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}

.properties-header-name-icon-disabled {
    opacity: 0;
}
