.properties-header-root {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #595a5f;
    margin: 8px;
}

.properties-header-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
}

.properties-header-description {
    width: calc(100% - 64px);
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.properties-header-field {
    width: 100%;
    margin-bottom: 4px;
}

.properties-header-name {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
}
