@import "../../../../sizes";
@import "../../../../utils";

.properties-stage-element-body-root {
  font-size: $font-size_small;
  overflow: hidden auto;
  height: calcSize($item-size_large);
}

.properties-section-title {
  font-size: $font-size_big;
  margin-left: $indent_l;
}

.properties-stage-content {
  padding: $indent_none $indent_xl;
}

