@import "../../../../other";
@import "../../../../sizes";

.library-section-header-title {
    @extend %flex-row;
    user-select: none;
    flex-grow: 1;
    text-align: left;
    padding-left: $indent_l;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
