@import "../../../../../sizes";

.properties-stage-element-body-root {
  font-size: $font-size_small;
  overflow: hidden auto;
  height: calc(100% - 54px);
}

.properties-section-title {
  font-size: $font-size_big;
  margin-left: 8px;
}

.properties-stage-content {
  padding: 0 12px;
}
