@import "../../../../../sizes";
@import "../../../../../utils";

.properties-stage-element-body-root {
  font-size: $item-size_big;
  overflow: hidden auto;
  height: calcSize($item-size_big);
}

.properties-section-title {
  font-size: $font-size_big;
  margin-left: $indent_l;
}

.properties-stage-content {
  padding: $indent_none $indent_xl;
}
