@import "../../../../../../sizes";

.properties-property-row {
  font-size: 12px;
  margin-bottom: $indent_m;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 24px;


}

.properties-property-row-body {
  & > * {
    margin-right: 8px !important;
  }

  margin-right: -8px;
}
