@import "../../../../../colors";
@import "../../../../../sizes";

$inner_button_size: $item-size_small - $indent_m;

.properties-toggle-field {
  &-root {
    width: $item-size_small;
    height: $item-size_small;
    background-color: $back-deep-dark;
    border: $indent_xxs solid $back-main;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $indent_xs;

    &-disabled {
      pointer-events: none;
      opacity: 0.7;
    }
  }

  &-button {
    position: relative;
    width: $inner_button_size;
    height: $inner_button_size;
    background-color: $back-main;

    :global {
      .MuiIconButton-root {
        width: $inner_button_size;
        height: $inner_button_size;
        padding: $indent_none;
      }
      .MuiSvgIcon-root {
        font-size: $font-size_medium;
      }
    }

    &-unchecked {
      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: $half-size;
        right: 0;
        border-top: $indent_xs solid $text-contrast;
        transform: rotate(-45deg);
      }

      :global {
        .MuiSvgIcon-root {
          opacity: 0.6;
        }
      }
    }
  }
}
