@import "../../../../sizes";
@import "../../../../colors";
@import "../../../../other";
@import "../../../../utils";

.element-content {
  &-title {
    @extend %flex-row;
    user-select: none;
    width: $full-size;
    height: $item-size_medium;
    font-size: $font-size_big;
    border-bottom: smallBorder($back-light, $indent_xs);
    margin-bottom: $indent_m;
  }
  &-root {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: $indent_l;
    height: $full-size;
  }
  &-elements-root {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: $full-size;
    max-height: $full-size;
    height: $full-size;
    overflow: auto;
    align-content: flex-start;
  }
}
