@import "../../../../sizes";
@import "../../../../colors";

.element-content {
  &-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    font-size: $font-size_big;
    border-bottom: $indent_xs solid $back-light;
    margin-bottom: $indent_m;
  }
  &-root {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: $indent_l;
    height: 100%;
  }
  &-elements-root {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: $full-size;
    max-height: $full-size;
    height: $full-size;
    overflow: auto;
    align-content: flex-start;
  }
}
