@import "../../../../../sizes";
@import "../../../../../colors";

.properties-slider-field-root {
  display: flex;
  align-items: center;
  width: 100%;
}

.properties-slider-field-counter-root {
  width: $item-size_big;
}
