@import "../../sizes";
@import "../../colors";
@import "../../other";
@import "../../utils";

.titled-panel-root {
    width: $full-size;
    height: $half-size;
    display: flex;
    flex-flow: column;
}

.titled-panel-container {
    width: calcSize(20px);
    padding: $indent_none 10px;
    display: flex;
    flex-flow: row;
    min-height: $item-size_small;
    background-color: $back-main;
}

.titled-panel-body {
    flex-grow : 1;
    height: calcSize($item-size_small);
    font-size: $font-size_big;
    color: $text-contrast;
    background-color: $back-dark;
}

.titled-panel-text {
    text-align: left;
    flex-grow: 1;
    color: $text-contrast !important;
}
