@import "../../../../../sizes";

.properties-property-row {
  font-size: 12px;
  margin-bottom: $indent_s;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 24px;
}

.properties-property-row-title {
  margin-top: $indent_m;
}

.properties-property-row-body {
  & > * {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
}
