@import "../../../../sizes";
@import "../../../../colors";

.section-body {
    &-icon {
        font-size: $font-size_huge !important;
    }

    &-text {
        color: $text-contrast;
        font-size: $font-size_big;
    }

    &-empty {
        user-drag: none;
        user-select: none;
        padding: $indent_none $indent_xl $indent_m $indent_xl;
    }

    &-preview {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &-preview-image {
        height: 200px;
        width: auto;
    }
}



