@import "../../../../../../sizes";

@mixin common-root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@mixin common-icon {
  cursor: pointer;
  opacity: 0.4;
}

.properties-pin-field {
  &-top {
    @include common-root;
    flex-direction: row-reverse;
    margin-right: 58px;
  }

  &-bottom {
    @include common-root;
    flex-direction: row;
    margin-left: 58px;
  }

  &-left {
    @include common-root;
    flex-direction: row-reverse;
  }

  &-right {
    @include common-root;
    flex-direction: row;
  }
}

.properties-pin-divider {
  width: $indent_s;
  height: $indent_s;
}

.properties-pin-icon {
  &-top {
    @include common-icon;
    transform: rotate(0deg);
  }

  &-bottom {
    @include common-icon;
    transform: rotate(180deg);
  }

  &-left {
    @include common-icon;
    transform: rotate(270deg);
  }

  &-right {
    @include common-icon;
    transform: rotate(90deg);
  }
}
