$text-contrast: #ffffff;
$text-disabled: #bbbbbb;
$text-hover: #1d9cf9;

$back-light: #595a5f;
$back-main: #3f4045;
$back-dark: #2a2b2f;
$back-deep-dark: #181818;

$secondary-main: #f4385b;
$secondary-hover: #a52941;
$secondary-disabled: #a53c4c;
$secondary-shadow-main: #801227;
$secondary-shadow-disabled: #79273A;

$primary-main: #1d9cf9;
$primary-hover: #0575c6;
$primary-disabled: #1c8ab1;
$primary-shadow-main: #004995;
$primary-shadow-disabled: #1C5375;
