$indent_none: 0;
$indent_xxs: 1px;
$indent_xs: 2px;
$indent_s: 4px;
$indent_m: 6px;
$indent_l: 8px;
$indent_xl: 12px;
$indent_xxl: 16px;
$indent_xxxl: 18px;

$item-size_micro: 16px;
$item-size_small: 24px;
$item-size_medium: 32px;
$item-size_big: 64px;
$item-size_huge: 128px;
$item-size_giant: 256px;
$item-size_mega: 512px;

$font-size_small: 10px;
$font-size_medium: 14px;

$full-size: 100%;
