@import "colors";
@import "sizes";

.app {
  $bottom-panel-height: 190px;

  &-root {
    height: $full-size;
  }

  &-grid {
    flex-grow: 1;
    height: calc(#{$full-size} - #{$item-size_small});
  }

  &-full-height {
    height: $full-size;
  }

  &-left-column {
    height: $full-size;
    display: inline-block;
  }

  &-right-column {
    background-color: $back-dark;
    height: $full-size;
    display: inline-block;
  }

  &-working-area {
    width: $full-size;
    height: calc(#{$full-size} - #{$bottom-panel-height});
  }

  &-bottom-menu {
    width: $full-size;
    height: $bottom-panel-height;
  }
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
