@import "colors";
@import "sizes";
@import "other";
@import "utils";

.app {
  &-root {
    height: $full-size;
    display: flex;
    flex-direction: column-reverse;
  }

  &-grid {
    flex-grow: 1;
    height: calcSize($item-size_small);
  }

  &-full-height {
    height: $full-size;
  }

  &-left-column {
    height: $full-size;
    display: inline-block;
  }

  &-right-column {
    background-color: $back-dark;
    height: $full-size;
    display: inline-block;
  }

  &-working-area {
    width: $full-size;
    height: calcSize($item-size_giant);
  }

  &-bottom-menu {
    width: $full-size;
    height: $item-size_giant;
  }
}

.loader {
  @extend %flex-row;
  width: $full-size;
  height: $full-size;
  justify-content: center;

  &-ring {
    display: inline-block;
    position: relative;
    width: $item-size_huge;
    height:  $item-size_huge;

    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: $item-size_big;
      height: $item-size_big;
      margin: $indent_m;
      border: smallBorder($primary-main, $indent_m);
      border-radius: $half-size;
      animation: loader-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: $primary-main transparent transparent transparent;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
