@import "colors";
@import "sizes";
@import "other";
@import "utils";

.app {
  &-root {
    height: $full-size;
    display: flex;
    flex-direction: column-reverse;
  }

  &-grid {
    flex-grow: 1;
    height: calcSize($item-size_small);
  }

  &-full-height {
    height: $full-size;
  }

  &-left-column {
    height: $full-size;
    display: inline-block;
  }

  &-right-column {
    background-color: $back-dark;
    height: $full-size;
    display: inline-block;
  }

  &-working-area {
    width: $full-size;
    height: calcSize($item-size_giant);
  }

  &-bottom-menu {
    width: $full-size;
    height: $item-size_giant;
  }
}

.loader {
  @extend %flex-row;
  width: $full-size;
  height: $full-size;
  justify-content: center;
}
