@import "colors";

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $back-deep-dark;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  outline: none;
}

html, #root {
  height: 100vh;
  overflow: hidden;
  background-color: $back-deep-dark;
}

::-webkit-scrollbar {
  $scrollbarSize: 8px;

  width: $scrollbarSize;
  height: $scrollbarSize;

  &-track {
    background: $back-light;
  }
  &-thumb {
    background: $secondary-main;
    &:hover {
      background: $secondary-hover;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
