@import "colors";
@import "sizes";
@import "other";

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $back-deep-dark;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  outline: none;
}

html, #root {
  height: 100vh;
  overflow: hidden;
  background-color: $back-deep-dark;
}

::-webkit-scrollbar {
  width: $item-size_nano;
  height: $item-size_nano;

  &-track {
    background: $back-light;
  }
  &-thumb {
    background: $secondary-main;
    &:hover {
      background: $secondary-hover;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
