@import "../../../../../sizes";
@import "../../../../../colors";
@import "../../../../../other";

.element-item {
  &-root {
    @extend %flex-column;
    cursor: pointer;
    font-size: $font-size_small;
    width: $item-size_big;
    height: 42px;
    margin: $indent_xxs;
    user-select: auto;
  }
  &-content {
    @extend %flex-row;
    flex: 1;
    justify-content: center;
    user-select: none;
  }
  &-title {
    @extend %flex-row;
    user-select: none;
    justify-content: center;
    width: $full-size;
    height: $item-size_micro;
  }
}
