@import "../../../../../sizes";

.properties-point-select-padding {
  width: $item-size_micro;
}

.properties-point-select-number {
  width: auto;
}

.properties-point-select-root {
  display: flex;
  flex-direction: row;
}
