.titled-field-root {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titled-field-title {
    user-select: none;
    padding-right: 4px;
}

.titled-field-body {
    user-select: none;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
}

